*{
	margin:0;
	padding:0;
}

body{
	background-color: white;
	font-family: Helvetica, sans-serif;/*open sans*/
	font-size:14px;
}

p{
	line-height: 20px;
}

h1{
	text-transform: uppercase;
	font-size: 36px;
}

h2{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
}


.container-1{
	padding-top:60px;
}

/* Generales */
.container{
	max-width:580px;
	margin:0 auto;
	text-align: center;
}

.container-large{
	max-width: 960px;
	margin:0 auto;
}

.button{
	background-color: #337ab7;
	color:white;
	border-radius: 5px;
	padding: 12px;
	text-decoration: none;
	display: inline-block;
	margin:5px;
	transition: all 0.3s;
}

.button:hover{
	background-color: #4590d0;
}

.button-green{
	background-color: #5cb85c;
}

.button-green:hover{
	background-color: #72d272;
}
/* Header */
header{
	color:white;
	text-align: center;
	padding: 120px 0;
	background-image: url(images/bg.jpeg);
	background-size: 1280px 851px;
}

.container h1{
	font-weight: 200;
}
.buttons,.buttons-header{
	padding: 22px;
}

/* Navegacion */
.logo{
	float: left;
	padding-top: 20px;
}

.logo img{
	width: 125px;
}

nav ul{
	list-style-type: none;
	float: right;
	padding-top: 10px;

}

nav ul li{
	display: inline-block;
	padding:20px;
}

nav li a{
	text-decoration: none;
	color: #ffffff;
	opacity: 0.5;
	transition: opacity 0.3s;
}

nav li a:hover{
	opacity:1;
}

/*Seccion 1*/
.imgPersonas{
	width: 60%;
}

/*Seccion 2*/
.container-info{
	width: 100%;
	background-color: #fafafa;
	padding: 60px;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
}

/*Seccion Contacto */
.container-contacto{
	padding: 60px;
	text-align: left;
}
.contacto-derecha{
	float: right;
	width:60%;
}
.contacto-izq{
	float: left;
	width: 30%;
	padding-right: 30px;
}

h3{
	font-weight: 300;
	padding-bottom: 10px;
}

.correo{
	font-weight: 600;
	color: #337ab7;
	text-decoration: none;
	padding-top: 20px;

}

input{
	padding:8px;
	border-radius: 5px;
	box-shadow: none;
	border:solid 1px #e3e3e3;
	margin-right: 10px;
	background-color: white;
}

/*Footer*/
footer{
	margin-top: 90px;
	width: 100%;
	padding:30px;
	background-color: black;
}
.container-footer{
	
	color: white;
	text-transform: uppercase;
}